extends /layout

block content
  h1 #{data.name}

  h2 Messages
    if data.messages.length > 0
      for message in data.messages
        li 
          a(href='/user/profile/' + message.senderID) #{message.senderName}
          |
          | #{message.contents} 

          - let canDelete = false
          if data.user.id == message.senderID && message.contents != '[deleted]' && message.contents != '[removed]'
            - canDelete = true

          if canDelete
            | #{'['}
            a(href='/privateMessage/delete/' + message._id) Delete
            | #{']'} 

  form.myform(method='POST', action='/privateMessage/send/' + data.room_id)
    div.form-group
      label(for='addMessage') Add Message
      input#addMessage.form-control(type='text', name='contents')
      input#form-control(hidden='yes', name='senderID', value=data.user.id)
      input#form-control(hidden='yes', name='senderName', value=data.user.name)

    button.btn.btn-primary#buttonSend(type='submit', name='buttonSend') Send

    button.btn#buttonLeave(type='button', action-text='leave this private room', value='/privateRoom/leave/') Leave

block script
  script.
    const CONFIRM_TEXT_ATTRIBUTE_NAME = 'action-text';

    function confirmIt(message) {
      return new Promise(function (resolve, reject) {
        if(confirm(`Are you sure you want to ${message}?`)) {
          resolve();
        } else {
          reject();
        }
      });
    }

    function handleButtonContainerClick(event) {
      // Find the button clicked
      const nodeArray = event.composedPath();
      // console.log(event.composedPath()); // DEBUG
      if( nodeArray.find((element) => element.tagName) === 'undefined' || !nodeArray.find((element) => element.tagName.toUpperCase() === 'BUTTON')) {
          // Button was not pressed
          console.log('Not a button event'); // DEBUG
          return
      }

      const buttonElement = nodeArray.find((element) => element.tagName.toUpperCase() === 'BUTTON');
      if(!buttonElement) {
        return; // Button was not clicked
      }
      // console.log('button clicked:', buttonElement); // DEBUG

      // Find which button was clicked
      const buttonValue = buttonElement.value;
      if (typeof buttonValue !== 'string' || buttonValue.length < 1) {
        // Send button was clicked

        // Get the user's input and prevent the submit if there is no text
        const inputElement = document.querySelector('input');
        const userInput = inputElement.value;
        if(userInput.value === '') {
          buttonElement.preventDefault();
        } else {
          // console.log(`text submitted: "${userInput}"`); // DEBUG
        }
      } else {
        if(buttonElement.getAttribute(CONFIRM_TEXT_ATTRIBUTE_NAME) === 'skip') {
          sendPost(buttonValue)
        } else {
        confirmIt(buttonElement.getAttribute(CONFIRM_TEXT_ATTRIBUTE_NAME))
          .then(function() {
            sendPost(buttonValue)
              .then(function(response) {
                window.location.replace(response.url);
              });
          })
          .catch(function() { 
            // Do nothing 
          });
        }
      }
      event.stopPropagation();
    }

    async function sendPost(url) {
      const room_id = "#{data.room_id}";
      let response = await fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({room_id: room_id})
      });
      return response.json();
    }

    document.body.addEventListener('click', handleButtonContainerClick);
