extends /layout

block content
  if data && data.user
    h3 Welcome to Panda Chat, #{data.user.name}
    br 
    a(href='/user/profile/5caa5f0737eb2901a3f1749f') Chuck
    br 
    a(href='/user/profile/5caa5a7437eb2901a3f1749e') Bravery
    br 
    a(href='/user/profile/5cd6eb2e310155520e874617') Don Juan
    br 
    a(href='/room/view/613003194fe77f2fbf078562') Bravery's Room
  else
    form(method='POST' action='/user/login')
      div.form-group
        label(for='email') Email Address
        input#email.form-control(type='text' name='email' value=(undefined===data ? 'foo@foo.com' : data.email))
        label(for='password') Password
        input#password.form-control(type='password' name='password' value='123456789!Ad')
      button.btn.btn-primary(type='submit') Login
    br
    a(href='/user/create') Create Account
