mixin sidebarBlock
  div(class='container-fluid')
    div(class='row')
      div(class='col-sm-2')
        block sidebar
          ul(class='sidebar-nav')
            li
              a(href='/') Home
            li
              a(href='/room/list/all') All Rooms
            li
              a(href='/room/list/user') My Rooms
            li
              a(href='/privateRoom/list') Private Messages
            li
              a(href='/user/profile/') Profile
            li
              a(href='/user/settings/') Settings
            li
              a(href='/user/logout') Logout

mixin uiErrors
  if uiErrors && uiErrors.length > 0
   ul
     for error in uiErrors
       li!= error

mixin uiMessages
  if uiMessages && uiMessages.length > 0
    ul
      for uiMessage in uiMessages
        li!= uiMessage

doctype html
html(lang='en')
  head
    title Panda Chat!
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='sytlesheet', href='/stylesheets/style.css')
  body
    if data.user
      +sidebarBlock

    +uiMessages
    if data
    +uiErrors

    block content

block script
