extends /layout

block content

  form(method='POST' action='')
    div.form-group
      label(for='email') Email Address
      input#email.form-control(type='text', name='email', value=(undefined===data ? 'foo@foo.com' : data.email))

      label(for='name') Display Name
      input#name.form-control(type='text', name='name', value=(undefined===data ? 'foo Name' : data.name))

      label(for='password') Password
      input#password.form-control(type='password', name='password', value='123456789!Ad')

      label(for='age') Age
      input#age.form-control(type='text', name='age', value=(undefined===data ? '' : data.age))

      label(for='safeMode') Safe mode
      if data.is_private === true
        input#safeMode.form-control(type='checkbox' name='safeMode' checked)     
      else
        input#safeMode.form-control(type='checkbox' name='safeMode')
      
    button.btn.btn-primary(type='submit') Create

  if errors
    ul
      for error in errors
        if error.msg
          li!= error.msg
