extends /layout

block content
  form(method='POST' action='/user/password/change')
    div.form-group
      label(for='currentPassword') Current Password
      input#password.form-control(type='text', name='currentPassword', value='123456789!Ad')

      label(for='newPassword') New Password
      input#password.form-control(type='text', name='newPassword', value='123456789!Add')

      label(for='newPasswordConf') Password Confirmation
      input#password.form-control(type='text', name='newPasswordConf', value='123456789!Add')

    button.btn.btn-primary(type='submit') Update

  if errors
    ul
      for error in errors
        if error.msg
          li!= error.msg
        else
          li!= error
