extends /layout

block content
  if data.otherUser.isBlocked
    p This user has you blocked.
  else
    p #{data.otherUser.name} 
    p Age: #{data.otherUser.age}
    br
    if data.otherUser.isSelf
      p Favor: #{data.otherUser.favor}
      br
      a(href='/user/update') Edit Profile
      br
      a(href='/user/friend/list') List Friends
      br
      a(href='/user/viewBlocked') Show Blocked Users
    else
      span(onclick="openPrivate('/privateRoom/open/')") Private Message
      br
      if data.otherUser.hasBlocked
        a(href='/user/unblock/' + data.otherUser.id) Unblock
      else
        a(href='/user/block/' + data.otherUser.id) Block
      br
      if data.otherUser.isFriend
        a(href='/user/friend/remove/' + data.otherUser.id) Remove Friend
      else
        a(href='/user/friend/add/' + data.otherUser.id) Add Friend

block script
  script.
    function openPrivate(url) {
      sendPost(url)
        .then(function(response) {
          window.location.replace(response.url);
        });
    }

    async function sendPost(url) {
      let user_id = "#{data.otherUser.id}";
      let response = await fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({user_id: user_id})
      });
      return response.json();
    }
