extends /layout

block content

  h3 Reporting #{data.user.name}

  if(data.message)
    p Message: "#{data.message.contents}"

  form(method='POST' action='/user/report/message')
    div.form-group
      label(for='Reason') Reason
      input#email.form-control(type='text', name='reason')
      input#form-control(hidden='yes', name='room_id', value=data.room_id)
      input#form-control(hidden='yes', name='message_id', value=data.message.id)
      input#form-control(hidden='yes', name='reportee_id', value=data.reportee.id)

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        if error.msg
          li!= error.msg
