extends /layout

block content
  form(method='POST' action='/user/settings')
    div.form-group
      label(for='safeMode') Safe mode
      if data.user.safeMode === true
        input#safeMode.form-control(type='checkbox' name='safeMode' checked)     
      else
        input#safeMode.form-control(type='checkbox' name='safeMode')

      br
      label(for='restrictPms') Restrict PMs to Friends only
      if data.user.restrictPms === true
        input#restrictPms.form-control(type='checkbox' name='restrictPms' checked)     
      else
        input#restrictPms.form-control(type='checkbox' name='restrictPms')

      br
      label(for='favor_min') Minimum favor required for users to private message
      input#favor_min.form-control(type='text', name='favor_min', value=data.user.favorMin)

    button.btn.btn-primary(type='submit') Update

  if errors
    ul
      for error in errors
        if error.msg
          li!= error.msg  
 
