extends /layout

block content
  form(method='POST' action='/user/update')
    div.form-group
      label(for='email') Email Address
      input#email.form-control(type='text', name='email', value=(undefined===data.user.email ? '' : data.user.email))

      label(for='name') Display Name
      input#name.form-control(type='text', name='name', value=(undefined===data.user.name ? '' : data.user.name))

      label(for='age') Age
      input#age.form-control(type='text', name='age', value=(undefined===data.user.age ? '' : data.user.age))

    button.btn.btn-primary(type='submit') Update

  br
  a(href='/user/password/change') Change Password
  br
  a(href='/user/delete') Delete Account

  if errors
    ul
      for error in errors
        if error.msg
          li!= error.msg  
  
  
