extends /layout

block content
  h2 Create Room

  form(method='POST' action='')
    div.form-group
      label(for='name') Display Name
      input#name.form-control(type='text', name='name', value=(undefined===data ? 'foo Name' : data.name))

      label(for='isPrivate') Set to Private?
      input#isPrivate.form-control(type='checkbox', name='isPrivate')     

    button.btn.btn-primary(type='submit') Create
