extends /layout

block content
  h2 Edit Room #{data.room_name}

  form(method='POST' action='/room/edit')
    div.form-group
      label(for='name') Display Name
      input#name.form-control(type='text', name='name', value=(undefined===data.room_name ? '' : data.room_name))

      br
      label(for='favor_min') Minimum Favor
      input#favor_min.form-control(type='text', name='favor_min', value=data.favor_min)

      br
      label(for='isPrivate') Set to Private?
      if data.is_private === true
        input#isPrivate.form-control(type='checkbox' name='isPrivate' checked)     
      else
        input#isPrivate.form-control(type='checkbox' name='isPrivate')     

      input#room_id.form-control(hidden='yes', name='room_id', value=data.room_id)


    button.btn.btn-primary(type='submit' action-text='submit changes') Submit Changes
    a(href='/room/view/' + data.room_id) Cancel

  
  a(href='/room/listBanned/' + data.room_id) List Banned Users

  if data.room_status == 1
    br 
    button.btn#buttonClose(type='button' action-text='close the room' value='/room/close/') Close Room
    br 
    button.btn#buttonDelete(type='button' action-text='delete the room' value='/room/delete/') Delete Room
  else if data.room_status == 2
    br
    button.btn#buttonClose(type='button' action-text='close the room' value='/room/delete/') Delete Room

block script
  script.
    const CONFIRM_TEXT_ATTRIBUTE_NAME = 'action-text';
    console.log(#{data.is_private})

    function confirmIt(message) {
      return new Promise(function (resolve, reject) {
        if(confirm(`Are you sure you want to ${message}?`)) {
          resolve();
        } else {
          reject();
        }
      });
    }

    function handleButtonContainerClick(event) {
      // Find the button clicked
      const nodeArray = event.composedPath();
      console.log(event.composedPath());
      if( nodeArray.find((element) => element.tagName) === 'undefined' || !nodeArray.find((element) => element.tagName.toUpperCase() === 'BUTTON')) {
          // Button was not pressed
          console.log('Not a button event');
          return
      }

      const buttonElement = nodeArray.find((element) => element.tagName.toUpperCase() === 'BUTTON');
      if(!buttonElement) {
        return; // Button was not clicked
      }
      console.log('button clicked:', buttonElement);

      // Find which button was clicked
      const buttonValue = buttonElement.value;
      if (typeof buttonValue !== 'string' || buttonValue.length < 1) {
        // Send button was clicked

        // Get the user's input and prevent the submit if there is no text
        const inputElement = document.querySelector('input');
        const userInput = inputElement.value;
        if(userInput.value === '') {
          buttonElement.preventDefault();
        } else {
          console.log(`text submitted: "${userInput}"`);
        }
      } else {
        console.log("TEXT: " + buttonElement.getAttribute(CONFIRM_TEXT_ATTRIBUTE_NAME));
        if(buttonElement.getAttribute(CONFIRM_TEXT_ATTRIBUTE_NAME) === 'skip') {
          sendPost(buttonValue)
        } else {
        confirmIt(buttonElement.getAttribute(CONFIRM_TEXT_ATTRIBUTE_NAME))
          .then(function() {
            sendPost(buttonValue)
              .then(function(response) {
                window.location.replace(response.url);
              });
          })
          .catch(function() { 
            // Do nothing 
          });
        }
      }
      event.stopPropagation();
    }

    async function sendPost(url) {
      const room_id = "#{data.room_id}";
      let response = await fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({room_id: room_id})
      });
      return response.json();
    }

    document.body.addEventListener('click', handleButtonContainerClick); 
