extends /layout

block content
  h2 Banned Users

  +uiMessages
  +uiErrors

  if data.banned_users
    ul
      for user in data.banned_users
        li 
          |#{user.name} 
          |#{user.timeUnbanned} 
          | #{'['}
          a(href='/room/unban/' + data.room_id + '/' + user.id) Unban
          | #{']'}
  
  a(href='/room/edit/'+ data.room_id) Back to Edit
  br
  a(href='/room/view/'+ data.room_id) Back to Room
  
block script
