extends /layout

block content
  h2 All Rooms

  +uiMessages
  +uiErrors

  for room in data.rooms
    li 
      a(href='/room/view/' + room._id) #{room.name}
  br
  form(method='GET' action='/room/create')
    button.btn.btn-primary(type='submit') Create Room
