extends /layout

block content
  h1 #{data.room.name} Edit moderators

  p #{data.room.owner}
  p #{data.room.mods}
  p #{data.room.members}

  h2 Remove
  form(method='POST' action='/room/mod/remove/' + data.room.id)
    div.form-group

      if data.room.mods.length > 0
        for mod in data.room.mods 
          li
            label(for=mod.id) #{mod.name}
            input#isPrivate.form-control(type='checkbox' name=mod.id)     

        button.btn.btn-primary(type='submit') Remove
      else
        p None

  h2 Add 
  form(method='POST' action='/room/mod/add/' + data.room.id)
    div.form-group

      if data.room.members.length > 0
        for member in data.room.members
          li
            label(for=member.id) #{member.name}
            input#isPrivate.form-control(type='checkbox' name=member.id)     

        button.btn.btn-primary(type='submit') Add
      else
        p None

  a(href='/room/view/' + data.room.id) Cancel


