extends /layout

block content
  h1 #{data.name}
  
  if data.user.id == data.owner
    p Owner
  if data.moderators.indexOf(data.user.id) != -1 
    p Room Mod
  if data.user.isAdmin 
    p Admin
  if data.user.isGlobalModerator
    p Global Mod

  h2 Messages
    for message in data.messages
      li 
        a(href='/user/profile/' + message.senderID) #{message.senderName}
        |
        | #{message.contents} 

        - let canRemove = false
        - let canDelete = false
        - let canReport = false
        if data.user.id == message.senderID && message.contents != '[deleted]' && message.contents != '[removed]'
          - canDelete = true
        else if (message.canRemove)
          - canRemove = true
        if data.user.id != message.senderID
          - canReport = true

        if canDelete
          | #{'['}
          a(href='/message/delete/' + message._id) Delete
          | #{']'}
        else if canRemove && (message.contents != '[removed]' && message.contents != '[deleted]')
          | #{'['}
          a(href='/message/remove/' + message._id) Remove
          | #{']'} 

        if canRemove && !message.isRoomBanned && data.user.id != message.senderID
          | #{'['}
          a(href='/room/ban/' + data.room_id + '/' + message.senderID) Ban
          | #{']'}
        else if canRemove && message.isRoomBanned && data.user.id != message.senderID
          | #{'['}
          a(href='/room/unban/' + data.room_id + '/' + message.senderID) Unban
          | #{']'}

        if canReport
          | #{'['}
          a(href='/user/report/message/' + message.senderID + '/' + data.room_id + '/' + message._id) Report
          | #{']'}

  form.myform(method='POST', action='/message/send/' + data.room_id)
    div.form-group
      label(for='addMessage') Add Message
      input#addMessage.form-control(type='text', name='contents')
      input#form-control(hidden='yes', name='senderID', value=data.user.id)
      input#form-control(hidden='yes', name='senderName', value=data.user.name)

    button.btn.btn-primary#buttonSend(type='submit', name='buttonSend') Send

  - if (data.members.indexOf(data.user.id) > -1)
      button.btn#buttonLeave(type='button', action-text='leave this room', value='/room/leave/') Leave Room
  - else
      button.btn#buttonJoin(type='button', action-text='skip', value='/room/join/') Join Room


  if data.user.id == data.owner
    // button.btn#buttonEdit(type='button', action-text='skip', value='/room/edit/') Edit Room
    br
    a(href='/room/edit/' + data.room_id) Edit Room
    br
    a(href='/room/mod/edit/' + data.room_id) Edit Moderators


  block script
  script.
    const CONFIRM_TEXT_ATTRIBUTE_NAME = 'action-text';

    function confirmIt(message) {
      return new Promise(function (resolve, reject) {
        if(confirm(`Are you sure you want to ${message}?`)) {
          console.log('user confirmed');
          resolve();
        } else {
          console.log('user cancelled');
          reject();
        }
      });
    }

    function handleButtonContainerClick(event) {
      // Find the button clicked
      const nodeArray = event.composedPath();
      console.log(event.composedPath());
      if( nodeArray.find((element) => element.tagName) === 'undefined' || !nodeArray.find((element) => element.tagName.toUpperCase() === 'BUTTON')) {
          // Button was not pressed
          console.log('Not a button event');
          return
      }

      const buttonElement = nodeArray.find((element) => element.tagName.toUpperCase() === 'BUTTON');
      if(!buttonElement) {
        return; // Button was not clicked
      }
      console.log('button clicked:', buttonElement);

      // Find which button was clicked
      const buttonValue = buttonElement.value;
      if (typeof buttonValue !== 'string' || buttonValue.length < 1) {
        // Send button was clicked

        // Get the user's input and prevent the submit if there is no text
        const inputElement = document.querySelector('input');
        const userInput = inputElement.value;
        if(userInput.value === '') {
          buttonElement.preventDefault();
        } else {
          console.log(`text submitted: "${userInput}"`);
        }
      } else {
        console.log("TEXT: " + buttonElement.getAttribute(CONFIRM_TEXT_ATTRIBUTE_NAME));
        if(buttonElement.getAttribute(CONFIRM_TEXT_ATTRIBUTE_NAME) === 'skip') {
          sendPost(buttonValue)
            .then(function(response) {
              window.location.replace(response.url);
            });
        } else {
          confirmIt(buttonElement.getAttribute(CONFIRM_TEXT_ATTRIBUTE_NAME))
          .then(function() {
            sendPost(buttonValue)
             .then(function(response) {
               window.location.replace(response.url);
             });
          })
          .catch(function() { 
            // Do nothing 
          });
        }
      }
      event.stopPropagation();
    }

    async function sendPost(url) {
      const room_id = "#{data.room_id}";
      let response = await fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({room_id: room_id})
      });
      return response.json();
    }

    document.body.addEventListener('click', handleButtonContainerClick); 
